.btn{
    padding: 25px 60px;
    display: inline;
    background-color: tomato;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.btn:hover{
    background-color: #FF4C2C;
}
.janela-modal{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.modal{
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: #FFFFFF96;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
}
.fechar{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;

}